# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore CodeRunner file
tempCodeRunnerFile.py

# Ignore environment directory
.venv/*
!.venv/.gitkeep

# Ignore any other virtual environment directory
venv/
env/

# Ignore Visual Studio Code directory
.vscode/
